body, html{
    font: ttf-opensans, ttf-liberation;
    font-size: 14px;
}

#page td {
    padding:0;
    margin:0;
}

#page {
    border-collapse: collapse;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    padding: 5px;
    height:100%;
}

.llista {
    height: 100%;
}

.llista td {
    height: 50px;
}

.table-header-caption {
    font-weight: bold;
}

.table-header-content {
    width: 30%;
}

@page {
    margin: 30px 20px 180px 20px;
    size: A4 portrait;

    @bottom-right {
        height: 100%;
        width: 100%;
        content: " ";
        background: url('{{ config.ATTENDEE_LIST_FOOTER_IMG }}') no-repeat 0 0;
        background-size: 100%;
        background-position: 100% 0%;
    }

 }
