<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Llistat d'assistencia</title>
  </head>
  <body>
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="table-header-caption">EXPEDIENT</td>
        <td class="content">TSF014/18/00007</td>
        <td class="table-header-caption">PROJECTE</td>
        <td class="table-header-content">{{ activity.organizer|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td class="table-header-caption">ENTITAT</td>
        <td colspan="3">{{ activity.entity|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td class="table-header-caption">NOM DE L'ACTIVITAT</td><td>{{ activity }}</td>
        <td class="table-header-caption">DATA</td><td>{{ activity.date_start }}</td>
      </tr>
    </tbody>
  </table>
  <div style="height: 500px; margin-top: 50px;">
  <table class="llista" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Nom complet</th>
        <th style="width: 10%;">DNI</th>
        <th style="width: 20%;">Signatura</th>
        <th style="width: 25%;">*Accepto política de privacitat de dades</th>
      </tr>
    </thead>
    <tbody style="height: auto;">
      {% for assistant in assistants %}
      <tr>
        <td>{{ assistant.full_name }}</td>
        <td>{{ assistant.id_number }}</td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </body>
</html>