{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
  delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}

  {% if messages %}
  <ul class="message-container">
     {% for message in messages %}
      <li>{% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</li>
     {% endfor %}
  </ul>
  {% endif %}

  <ul style="padding: 0">
    <li><p>S'enviarà un correu electrònic de recordatori a
      <strong>aquelles persones inscrites</strong> a l'activitat
      <strong>a qui no se'ls hi hagi enviat anteriorment el correu</strong>:</p>
      <p><h1>{{ obj.name }}</h1></p></li>
  </ul>
  <hr>
  <br>

  <form action="" method="post">{% csrf_token %}
    <p style="max-width: 500px">És molt fàcil que el text d'instruccions provoqui que el correu surti malgirbat,
    fins i tot encara que el text sigui senzill i amb poc format. Abans d'enviar el correu
    a tothom, procura enviar-te sempre una còpia a tu mateixa i comprovar que la plantilla es veu bé.</p>
    <br>
    <div class="input-row">
      <label for="preview_to">Destinatari del correu de prova: </label><input id="preview_to" name="preview_to" type="text">
    </div>
    <div class="submit-row">
      <input type="hidden" name="preview" value="1">
      <input type="submit" value="{% trans "Enviar correu de prova" %}"/>
    </div>
  </form>

  <hr>
  <br>

  <form action="" method="post">{% csrf_token %}
    <p style="max-width: 500px">El correu de prova ha funcionat correctament?</p>
    <br>
    <div class="submit-row">
      <input type="hidden" name="send" value="1">
      <input type="submit" name="_save" value="{% trans "Sí, enviar els recordatoris a les persones pendents" %}"/>
      <a href="#" onclick="window.history.back(); return false;"
         class="button cancel-link">{% trans "No, take me back" %}</a>
    </div>
  </form>

  <hr>
  <br>

  <form action="" method="post">{% csrf_token %}
    <p style="max-width: 500px">Vols enviar el recordatori a totes les persones inscrites
    independentment de si ja se'ls hi havia enviat anteriorment o no?</p>
    <br>
    <div class="submit-row">
      <input type="hidden" name="send_all" value="1">
      <input type="submit" name="_save" value="{% trans "Sí, tornar a enviar els recordatoris tothom" %}"/>
      <a href="#" onclick="window.history.back(); return false;"
         class="button cancel-link">{% trans "No, take me back" %}</a>
    </div>
  </form>
{% endblock %}