{% load static %}
<footer>
    <div class="logos">
        <img src="{% static 'images/logo_ateneus_cooperatius.png' %}" />
        <img src="{% static 'images/logo_economia_social.png' %}" />
        <img src="{% static 'images/logo_departament_treballgeneralitat_bn.gif' %}" />
        <img src="{% static 'images/ministeri_bn.jpg' %}" />
    </div>

    <p>
        Aquest web ha sigut feliçment desenvolupat per <a class="link-codi-cooperatiu" href="http://codi.coop">Codi Cooperatiu</a>.
    </p>
    <p>
        <span><a href="{{ config.PROJECT_LEGAL_URL }}">Avís legal</a></span>
        <span><a href="{{ config.PROJECT_CONTACT_URL }}">Contacte</a></span>
    </p>
</footer>