* {
    padding: 0;
    margin: 0;
    font-family: $base-font;
    color: $color-3;
    font-size: $base-font-size;
}

html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
}

body {
    background-color: $color-0;
    display: flex;
    flex-direction: column;
}

a {
    color: $color-1;
    font-weight: bold;
}

h1 {
    font-size: $h1-font-size;
    padding: 1em 0 1em 0;
}

h2 {
    padding: 1em 0 1em 0;
    font-size: $h2-font-size;
}

h3{
    padding: 1em 0 1em 0;
}

div {
    display: flex;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-4;
}

.page-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 50px 0;
}

.generic-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cookies-consent {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    visibility: hidden;

    p {
        color: white;
    }

    a {
        color: #4285F4;
    }

    .button {
        margin-right: 100px;
        padding: 3px 20px;
        background-color: red;
        border-radius: 25px;
        color: white;
        text-decoration: none;
    }
}

.breadcrumb {
    display: flex;
    justify-self: center;
    width: 70%;
    a {
        color: $color-3;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-justiy-center {
    justify-content: center;
}