


.generated-form {
    align-self: flex-start;
    padding-top: 30px;

    form {

        .helptext {
            display: block;
            font-style: italic;
        }

        p {
            margin-bottom: 10px;
        }

    }
}