


.generated-form {
    align-self: flex-start;

    form {

        .helptext {
            display: block;
            font-style: italic;
        }

        p {
            margin-bottom: 10px;
        }

    }
}