
#project-form {

}

.generated-form {
    align-self: flex-start;
    justify-content: initial;
    padding-top: 30px;
    width: 100%;

    form {

        .errorlist {
            position: inherit;
        }

        .helptext {
            display: block;
            font-style: italic;
        }

        p {
            margin-bottom: 10px;
        }

        textarea {
            display: block;
            width: 100%;
        }

    }

    .message-container {
        position: inherit;
        list-style-type: none;

        .success-message {
            @extend %message;
            background-color: $django-form-success-message-background-color;
        }

        .error-message {
            width: 90%;
            margin-bottom: 5px;
        }
    }
}

h3 {
    font-size: 1.1rem;
}

.content {
    min-height: initial;
}

.page-content {
    img {
        width: fit-content;
        align-self: center;
    }
    min-height: initial;
}

.generic-content {
    min-height: initial;
}

.flex-h {
    display: flex;
    justify-content: space-around;
}

.margin-block {
    margin-top: 20px;
}

input:required, textarea:required {
    border-color: $color-4 !important;
}

label {
    &.required {
        font-size: 1.1em;
        &:after {
            content: "*";
        }
    }
}

// Per apartats que encara no s'han fet responsive:
.block-width {
    min-width: 700px;
}

.top-wrapper {
    width: 100%;
    background-color: $color-4;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    header {
        .menu .menu-ul {
           flex-direction: column;

           li+li {
                padding-top: 5px;
           }
        }

        .menu .dropdown-content {
            display: flex;
            position: relative;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

            li {
                padding: 5px 10px;
            }
        }

        .content .top-wrapper {
            width: 100%;
            flex-direction: column;
        }
    }

    .page-content {
        width: 95%;
    }

    .flex-h {
        flex-direction: column;
    }

    .introduction p {
        width: 90%;
    }

    .modal {
        width: 80%;
    }

    .enroll-button div {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 790px) {
    header {
        .menu ul {
           width: 90%;
        }
    }
}
