.introduction {
    background-color: $color-2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    p {
        color: $color-0;
        width: 60%;
        text-align: center;
        display: inline-block;
    }
}