@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");

$base-font: "Open Sans", sans-serif;
$menu-font: "Raleway", sans-serif;

$color-0: white;
$color-1: #D8C4A4;
$color-2: #2C3C61;
$color-3: #242424;
$color-4: #F0F0F0;

$backcolor-enroll-button: #B29279;
$frontcolor-enroll-button: $color-0;
$hovercolor-enroll-button: #AF6468;