header {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        h1 {
            font-family: $menu-font;
            color: $color-2;
        }

        h2 {
            font-family: $menu-font;
            color: $color-2;
        }
    }

    .logo {
        align-items: center;
    }

    .title-link {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 20px;
        width: 50%;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .secondary-menu {
        // background-image: linear-gradient(90deg,$color-0,lightgray);
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        align-content: flex-end;
        margin-top: auto;

        form {
            margin-bottom: 10px;

            input[type=submit] {
                padding: 0 10px;
            }
        }

        ul {
            background-color: $color-0;
            flex-direction: column;
        }
    }
    
    ul {
        font-weight: bolder;
        display: flex;
        flex-direction: row-reverse;
        background-color: $color-1;
        padding: 10px 0;
        
        li {
            list-style: none;
            margin: 0 50px;
        }
        
        a {
            font-family: $menu-font;
            text-decoration: none;
            color: $color-2;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}