$poll-width: 500px;

.poll {
  display: block;
  columns: $poll-width;
  width: 100%;

  .poll__send {
    max-width: $poll-width;
    justify-content: center;

    & input {
      width: 200px;
      margin-top: 20px;
    }
  }

  .poll__fieldset {
    display: block;
    width: 100%;
    max-width: $poll-width;
    break-inside: avoid;

    .poll__item {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      &:hover {
        background-color: #fdfdfd;
      }

      & div {
        width: calc(100% - 120px);
      }

    }

    .poll__item--text {
      flex-wrap: wrap;
      & input {
        width: 100%;
      }
    }

  }
}