*.pyc
.DS_Store
.idea/
**.css.map
node_modules
local_*.py
# Using this for pyenv in development environment.
.python-version
/src/static/
/dumps/

# Ignore configuration file
docker/settings/*
!docker/settings/settings.env.example
