[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "==2.2.7"
"psycopg2-binary" = "==2.7.5"
pytz = "==2018.7"
weasyprint = "*"
arrow = "*"
django-summernote = "*"
django-constance = "==2.4.0"
django-picklefield = "*"
"boto3" = "*"
django-storages = "*"
django-grappelli = "==2.13.2"
gunicorn = "*"
factory-boy = "*"
easy-thumbnails = "*"
django-modelclone = "*"
openpyxl = "*"
django-object-actions = "*"
django-maintenance-mode = "*"
django-mail-queue = "*"
django-dynamic-form-fields = "*"
django-logentry-admin = "*"
django-tagulous = "*"
django-extensions = "*"
django-q = "*"

[requires]
python_version = "3.6"
