@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");

$base-font: 'Lato', "Open Sans", sans-serif;
$menu-font: 'Comfortaa', cursive, sans-serif;

$color-0: white;
$color-1: #e94e1b;
$color-2: #c1c1c1;
$color-3: #242424;
$color-4: #F0F0F0;
$color-5: #D8C4A4;

$backcolor-enroll-button: #000;
$frontcolor-enroll-button: $color-0;
$hovercolor-enroll-button: #AF6468;

$base-font-size: 0.9rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.4rem;

$django-form-success-message-background-color: #5EC76A !default;
