footer {
    display: flex;
    min-height: 100px;
    background-color: $color-2;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;

    a {
        color: $color-1;
    }


    p {
        display: initial;
        color: $color-3;
        font-size: 0.8rem;
        margin-bottom: 10px;

        span {
            margin-right: 50px;
        }
    }

    .logos {
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-between;

        img {
            height: 40px;
        }
    }
}

.link-codi-cooperatiu {
    color: $color-3;
    font-size: 0.8rem;
}
