{% load i18n %}{% autoescape off %}
Has rebut aquest correu perquè hi ha hagut una sol·licitud de reinici de contrassenya del teu compte a
serveis.bcn.coop.

Si has fet tu la sol·licitud, si us plau obre el següent enllaç i escull una contrassenya nova:
http://serveis.bcn.coop{% url 'password_reset_confirm' uidb64=uid token=token %}

Si has fet tu la sol·licitud, senzillament ignora aquest correu.

El teu nom d'usuari, en cas que l'hagis oblidat: {{ user.get_username }}

Gràcies per fer servir la nostra plataforma,

L'equip de Coòpolis

{% endautoescape %}
