{% load my_tag_library %}
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ PROJECT_NAME }} ─ Plataforma de gestió de projectes i inscripcions</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}" type="text/css">
  <link rel="icon" href="{% external_static "/logo.png" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa|Lato:400,700' rel='stylesheet' type='text/css'>
  {% block head %}{% endblock %}
</head>
<body>
  <header>
      <div class="content">
          <div class="top-wrapper">
              {% load static %}
              <div>
                  <a href="{% url 'home' %}" class="title-link">
                      <div class="logo">
                          <img src="{% external_static '/logo.png' %}" />
                          <div class="title">
                              <h1>{{ PROJECT_NAME }}</h1>
                              <h2>Plataforma de gestió de projectes i inscripcions</h2>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </header>

  <div class="content" style="height: 300px;">
    <div class="page-content" style="height: 100%;">
        <div class="generic-content" style="height: 100%;">
          <h1>Tancat per manteniment</h1>
          <p>Disculpa les molèsties! Estem fent tasque de manteniment i hem tancat temporalment l'accés.</p>
          <p>Si us plau torna a venir d'aquí 5 o 10 minuts.</p>
          <p>Si necessites contactar amb {{ PROJECT_NAME }}, fes servir l'enllaç que hi ha a peu de pàgina.</p>
        </div>
    </div>
  </div>

  {% include 'reusable/footer.html' %}

</body>
</html>