{% extends "base.html" %}

{% block head %}
    {% load static %}
{% endblock %}

{% block content %}

<style>
.activity-resources {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    border: 1px black solid;
    padding: 10px;
}
.resource-name {
    width: 90%;
}
.resource-name ~ .resource-name,
.resource-download ~ .resource-download {
    margin-top: 10px;
}
.resource-download {
    width: 10%;
}
</style>

<div class="breadcrumb">
    <span><a href="{% url 'home' %}">Inici</a> > <a href="{% url 'my_activities' %}">Els meus cursos</a> > {{ activity.title }}</span>
</div>
<div class="page-content">

    <h1>{{ object }}</h1>

    {% if object.instructions %}
    <h2>Instruccions sobre el funcionament de la sessió</h2>
    <p>{{ object.instructions|safe }}</p>
    {% endif %}

    {% if object.resources.all %}
    <h2>Material formatiu</h2>
    <div class="activity-resources">
        {% for resource in object.resources.all %}
        <div class="resource-name">{{ resource.name }}</div>
        <div class="resource-download"><a href="{{ resource.image.url }}" target="_blank">Obrir</a></div>
        {% endfor %}
    </div>
    {% endif %}

    {% if object.videocall_url %}
    <h2>Enllaç a la videotrucada</h2>
    <p><a href="{{ object.videocall_url }}" target="_blank">{{ object.videocall_url }}</a></p>
    {% endif %}

    <h2>Enquesta de valoració</h2>
    {% if object.poll_access_allowed %}
    <p><a href="{% url 'activity_poll' uuid=object.uuid %}">Accedir a l'enquesta</a></p>
    {% else %}
    <p>L'enquesta de valoració s'activarà quan s'hagi celebrat la sessió.</p>
    {% endif %}


</div>
{% endblock %}