DEBUG=true
SECRET_KEY=
ALLOWED_HOSTS=localhost
ABSOLUTE_URL=http://localhosst:4001

# Personalització instància
PROJECT_NAME=Comunalitat 1
ADMIN_HEADER=Back-office de la comunalitat 1
GRAPPELLI_ADMIN_TITLE=Back-office de la comunalitat 1

# Superuser
# If set, these will make the initial migration to create a superuser. Make sure
# to never leave the superuser account with the password unchanged if you use
# this.
DJANGO_SUPERUSER_EMAIL=hola@codi.coop
DJANGO_SUPERUSER_PASSWORD=admin

# DB
DB_NAME=comunalitat_1
DB_USER=postgres
DB_PASSWORD=
DB_HOST=develop_comunalitats_db
DB_PORT=5432

# E-mail backend
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#EMAIL_BACKEND=sendgrid_backend.SendgridBackend

# Mailing manager
MAILING_MANAGER_DEFAULT_FROM=hola@example.com

# SMTP
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
MAILQUEUE_QUEUE_UP=false

# Sendgrid
SENDGRID_API_KEY=

# Wasabi cloud storage configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=comunalitats-demo
AWS_S3_ENDPOINT_URL=https://s3.eu-central-1.wasabisys.com
AWS_DEFAULT_ACL=public-read
AWS_S3_BASE_DOMAIN=s3.eu-central-1.wasabisys.com
AWS_PUBLIC_MEDIA_LOCATION=media/public
AWS_PRIVATE_MEDIA_LOCATION=media/private

# To enable or disable maintenance mode.
MAINTENANCE_MODE = off
