{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
<div class="breadcrumb">
    <span><a href="{% url 'home' %}">Inici</a> > <a href="{% url 'my_activities' %}">Els meus cursos</a> > {{ activity.title }}</span>
</div>
<div class="page-content">

{% if course.banner %}
    <img src="{{ course.banner.url }}" />
{% endif %}
    <h1>{{ course.title }}</h1><br />

    <h2>Activitats en aquesta formació:</h2>

    <div class="courses-container">
    </div>
</div>
{% endblock %}