{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="breadcrumb">
        <span><a href="{% url 'home' %}">Inici</a> > Formacions</span>
    </div>
    <div class="introduction">
        <p>
            {{ config.CONTENT_COURSES_INTRODUCTION }}
        </p>
    </div>
    <div class="page-content">
        <h2 class="subtitle">Oferta formativa</h2>
        <div class="courses-container">
            {% for course in future_courses %}
                <div class="course">
                    <div class="course-data">
                        {% if course.banner %}
                        <a class="course-image" href="{{ course.absolute_url }}"><img src="{{ course.banner.course_list.url }}" alt=""></a>
                        {% endif %}
                        <div class="course-description">
                            <a href="{{ course.absolute_url }}"><h3>{{ course.title }}</h3></a>
                            <p>Inici de les sessions: {{ course.date_start }}</p>
                            <br />
                            <p>Horaris: {{ course.hours }}</p>
                            <br />
                            <p>{{ course.description|safe }}</p>
                        </div>
                    </div>
                    <div class="course-button">
                        <a href="{{ course.absolute_url }}" class="enroll-button">
                            <div>Veure les sessions</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% if not future_courses %}
                <p class="margin-block">En aquests moments no hi ha cap formació programada.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
