{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}
{% load enrollable %}
<div class="page-content">

    <img src="{{ course.banner.url }}" />
    <h1>{{ course.title }}</h1><br />

    <h2>Activitats programades:</h2>

    <div class="courses-container">
        {% for activity in course.activity_set.all %}
        <div class="course">
            <div class="course-data">
                <h3>{{ activity.name }}</h3>
                <p><strong>Data:</strong> {{ activity.date_start }}</p>
                <p><strong>Horari:</strong> de {{ activity.starting_time }} a {{ activity.ending_time }}</p>
                <p><strong>Lloc:</strong> {{ activity.place }}</p>
                <p><strong>Descripció:</strong> {{ activity.objectives }}</p>
                {% if activity.is_past_due is False %}
                    {% if activity|can_enroll:user %}
                <a
                        id="actButton{{activity.id}}"
                        href="#"
                        onclick="javascript:onInscriptionButtonClick('{{activity.name}}', '{% url 'enroll_course' id=activity.id %}', '{% url 'loginsignup' %}?next={{ request.get_full_path }}&act={{activity.id}}');"
                        class="enroll-button"
                >
                <div>
                    Inscriure's-hi
                </div>
                </a>
                    {% endif %}
                    {% if user in activity.enrolled.all %}
                <p>Ja estàs inscrita a aquesta activitat. Pots veure i gestionar les teves inscripcions a <a href="{% url 'my_activities' %}">Les meves activitats</a>. </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="modal-confirm" class="modal">
    <span class="modal-close" onclick="javascript:hideModal('#modal-confirm');">&times;</span>
    <div class="modal-container">
        <div class="modal-title">
            Confirmació
        </div>
        <div class="modal-content">
            Ets a punt d'inscriure't a l'activitat:
            <p><strong id="modal-title-text"></strong></p>
            <br>
            {% if user.is_anonymous %}
            Però per fer-ho has d'accedir al teu compte o bé registrar-te.
            {% else %}
            Segur que vols inscriure't-hi?
            {% endif %}
        </div>
        <div class="modal-buttons">
            {% if user.is_anonymous %}
            <a id="button1" href="#" class="enroll-button">
            <div>
                Fes login // Registra't
            </div>
            </a>
            {% else %}
            <a id="button3" href="#" class="enroll-button">
            <div>
                Incriure's-hi
            </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        makeModal('#modal-confirm');

        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('act')) {
            var id = urlParams.get('act');
            $("#actButton" + id).click();
        }
    });

    function onInscriptionButtonClick (activityName, activityUrl, loginsignupUrl) {
        $('#modal-title-text').text(activityName);
        $("#button1").attr("href", loginsignupUrl);
        $("#button3").attr("href", activityUrl);
        showModal('#modal-confirm');
    }
</script>
{% endblock %}