{% extends "base.html" %}

{% block content %}
    <div class="breadcrumb">
        <span><a href="{% url 'home' %}">Inici</a> > Formacions</span>
    </div>
    <div class="introduction">
        <p>
            {{ config.CONTENT_COURSES_INTRODUCTION }}
        </p>
    </div>
    <div class="page-content">
        <h2 class="subtitle">Oferta formativa</h2>
        <div class="courses-container">
            {% for course in future_courses %}
                <div class="course">
                    {% if course.banner %}
                    <a href="{{ course.absolute_url }}"><div class="course-image" style="background-image: url('{{ course.banner.url }}')"></div></a>
                    {% endif %}
                    <div class="course-data">
                        <a href="{{ course.absolute_url }}"><h3>{{ course.title }}</h3></a>
                        <p>Inici de les activitats: {{ course.date_start }}</p>
                        <br />
                        <p>Horaris: {{ course.hours }}</p>
                        <br />
                        <p>{{ course.description|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if past_courses %}
        <h2 class="subtitle">Cursos passats</h2>
        <div class="courses-container">
            {% for course in past_courses %}
                <div class="course">
                    {% if course.banner %}
                    <a href="{{ course.absolute_url }}"><div class="course-image" style="background-image: url('{{ course.banner.url }}')"></div></a>
                    {% endif %}
                    <div class="course-data">
                        <a href="{{ course.absolute_url }}"><h3>{{ course.title }}</h3></a>
                        <p>Inici de les activitats: {{ course.date_start }}</p>
                        <br />
                        <p>Horaris: {{ course.hours }}</p>
                        <br />
                        <p>{{ course.description|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
