{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}
{% load enrollable %}
<div class="page-content">
<h1>{{ course.title }}</h1>

    <h2>Activitats programades</h2>

    <ul>
    {% for activity in course.activity_set.all %}
        <li>
            <p class="title">{{ activity.name }}</p>
            <p>{{ activity.date_start }}</p>
        </li>
        {% if activity|can_enroll:user %}
        <a
                href="#"
                onclick="javascript:onInscriptionButtonClick('{{activity.name}}', '{% url 'enroll_course' id=activity.id %}', '{% url 'login' %}?next=foobar', '{% url 'signup' %}?next=foobar');"
                class="enroll-button"
        >
        <div>
            Incriure's-hi
        </div>
        </a>
        {% endif %}
        {% if user in object.enrolled.all %}
        Ja estàs inscrita a aquesta activitat.
        {% endif %}
    {% endfor %}
    </ul>

</div>

<div id="modal-confirm" class="modal">
    <span class="modal-close" onclick="javascript:hideModal('#modal-confirm');">&times;</span>
    <div class="modal-container">
        <div class="modal-title">
            Confirmació
        </div>
        <div class="modal-content">
            Ets a punt d'inscriure't al curs:
            <p><strong id="modal-title-text"></strong></p>.
            <br>
            {% if user.is_anonymous %}
            Però per fer-ho has d'accedir al teu compte o bé registrar-te.
            {% else %}
            Segur que vols inscriure't-hi?
            {% endif %}
        </div>
        <div class="modal-buttons">
            {% if user.is_anonymous %}
            <a id="button1" href="#" class="enroll-button">
            <div>
                Fes login
            </div>
            </a>
            <a id="button2" href="#" class="enroll-button">
            <div>
                Enregistrar-se
            </div>
            </a>
            {% else %}
            <a id="button3" href="#" class="enroll-button">
            <div>
                Incriure's-hi
            </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        makeModal('#modal-confirm');
    });

    function onInscriptionButtonClick (activityName, activityUrl, loginUrl, signupUrl) {
        $('#modal-title-text').text(activityName);
        $("#button1").attr("href", loginUrl);
        $("#button2").attr("href", signupUrl);
        $("#button3").attr("href", activityUrl);
        showModal('#modal-confirm');
    }
</script>
{% endblock %}