{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}

<div class="page-content">


  {% if messages %}
  <div class="generated-form">
    <ul class="message-container">
      {% for message in messages %}
      <li
      {% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  {% if enrolled_activities.count is 0 %}
  <h1>No tens cap inscripció confirmada.</h1>
  <p>Aquí podràs veure i gestionar les activitats a les que t'hagis inscrit. Per veure quins cursos i activitats hi
    ha programades, accedeix al <a href="{% url 'courses' %}">llistat de cursos</a>. </p>
  {% else %}
  <h1>Estàs inscrit/a a les següents activitats:</h1><br/>
  <div class="courses-container">
    {% with optout_button=True %}
    {% for enrollment in enrolled_activities %}
    {% include "reusable/my_courses_activity.html" %}
    {% endfor %}
    {% endwith %}
  </div>
  {% endif %}

  {% if waiting_list_activities %}
  <h1>Ets en llista d'espera per les següents activitats:</h1><br/>
  <div class="courses-container">
    {% with optout_button=True button_text_waiting_list=True %}
    {% for enrollment in waiting_list_activities %}
    {% include "reusable/my_courses_activity.html" %}
    {% endfor %}
    {% endwith %}
  </div>
  {% endif %}

  {% if past_enrolled_activities.count %}
  <h1>Activitats a les que has assistit anteriorment:</h1><br/>
  <div class="courses-container">
    {% for enrollment in past_enrolled_activities %}
    {% include "reusable/my_courses_activity.html" %}
    {% endfor %}
  </div>
  {% endif %}
</div>

<div id="modal-confirm" class="modal">
  <span class="modal-close" onclick="javascript:hideModal('#modal-confirm');">&times;</span>
  <div class="modal-container">
    <div class="modal-title">
      Confirmació
    </div>
    <div class="modal-content">
      Ets a punt d'eliminar la inscripció a l'activitat:
      <p><strong id="modal-title-text"></strong></p>
      <br>
      Segur que vols continuar? (si t'ho repenses, i queden places, podràs tornar-t'hi a inscriure)
    </div>
    <div class="modal-buttons">
      <a id="button3" href="#" class="enroll-button">
        <div>
          Anul·lar la inscripció
        </div>
      </a>
    </div>
  </div>
</div>
<script>
    $( document ).ready(function() {
        makeModal('#modal-confirm');
    });

    function onOptoutButtonClick (activityName, activityUrl) {
        $('#modal-title-text').text(activityName);
        $("#button3").attr("href", activityUrl);
        showModal('#modal-confirm');
    }

</script>
{% endblock %}