{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}

<div class="page-content">

    {% if enrolled_activities.count is 0 %}
    <h1>Encara no t'has inscrit a cap activitat.</h1>
    <p>Aquí podràs veure i gestionar les activitats a les que t'hagis inscrit. Per veure quins cursos i activitats hi ha programades, accedeix al <a href="{% url 'courses' %}">llistat de cursos</a>. </p>
    {% else %}
    <h1>Estàs inscrit/a a les següents activitats:</h1><br />

    <ul>
        {% for activity in enrolled_activities %}
        <li>
            <h3>Programa / curs: "{{ activity.course }}"</h3>
            <p class="title">Activitat: {{ activity.name }}</p>
            <p>Data: {{ activity.date_start }}</p>
            <p>Horari: de {{ activity.starting_time }} a {{ activity.ending_time }}</p>
            <p>Lloc: {{ activity.lloc }}</p>
            <p>Descripció: {{ activity.objectives }}</p>
            <p>Organitza: {{ activity.organizer }}</p>
            <p>Entitat: {{ activity.entity }}</p>
            <a
                id="actButton{{activity.id}}"
                href="#"
                onclick="javascript:onOptoutButtonClick('{{activity.name}}', '{% url 'activity_optout' id=activity.id %}');"
                class="enroll-button"
            >
            <div>
                Eliminar inscripció
            </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div id="modal-confirm" class="modal">
    <span class="modal-close" onclick="javascript:hideModal('#modal-confirm');">&times;</span>
    <div class="modal-container">
        <div class="modal-title">
            Confirmació
        </div>
        <div class="modal-content">
            Ets a punt d'eliminar la inscripció a l'activitat:
            <p><strong id="modal-title-text"></strong></p>
            <br>
            Segur que vols continuar? (si t'ho repenses, i queden places, podràs tornar-t'hi a inscriure)
        </div>
        <div class="modal-buttons">
            <a id="button3" href="#" class="enroll-button">
            <div>
                Anul·lar la inscripció
            </div>
            </a>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        makeModal('#modal-confirm');
    });

    function onOptoutButtonClick (activityName, activityUrl) {
        $('#modal-title-text').text(activityName);
        $("#button3").attr("href", activityUrl);
        showModal('#modal-confirm');
    }
</script>
{% endblock %}