{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/stars-rating.css' %}" type="text/css">
{% endblock %}

{% block content %}

<style>
.activity-resources {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    border: 1px black solid;
    padding: 10px;
}
.resource-name {
    width: 90%;
}
.resource-name ~ .resource-name,
.resource-download ~ .resource-download {
    margin-top: 10px;
}
.resource-download {
    width: 10%;
}
</style>

<div class="breadcrumb">
    <span><a href="{% url 'home' %}">Inici</a> > <a href="{% url 'my_activities' %}">Els meus cursos</a> > {{ activity.title }}</span>
</div>
<div class="page-content">

    <h1>{{ object }}</h1>

    <h2>Enquesta de valoració</h2>

    <form action="#" method="post">

        <div class="poll">
            <div class="poll__item">
                <div>Valora de l'1 al 4:</div>
                <fieldset class="rating">
                    <input type="radio" id="field1_4" name="rating" value="4" /><label class="full" for="field1_4" title="(4) Molt bé"></label>
                    <input type="radio" id="field1_3" name="rating" value="3" /><label class="full" for="field1_3" title="(3) Bé"></label>
                    <input type="radio" id="field1_2" name="rating" value="2" /><label class="full" for="field1_2" title="(2) Malament"></label>
                    <input type="radio" id="field1_1" name="rating" value="1" /><label class="full" for="field1_1" title="(1) Molt malament"></label>
                </fieldset>
            </div>

            <div class="poll__item">
                <div>Segona pregunta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, incidunt!:</div>
                <fieldset class="rating">
                    <input type="radio" id="star4" name="field2" value="4" /><label class="full" for="star4" title="(4) Molt bé"></label>
                    <input type="radio" id="star3" name="field2" value="3" /><label class="full" for="star3" title="(3) Bé"></label>
                    <input type="radio" id="star2" name="field2" value="2" /><label class="full" for="star2" title="(2) Malament"></label>
                    <input type="radio" id="star1" name="field2" value="1" /><label class="full" for="star1" title="(1) Molt malament"></label>
                </fieldset>
            </div>

        </div>


    </form>

</div>
{% endblock %}