{% extends "generic.html" %}

{% block generic %}
<div class="generated-form">
    <div class="message-container">
    {% if form.errors %}
      <p class="error-message">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p class="info-message">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p class="info-message">Please login to see the requested page.</p>
      {% endif %}
    {% endif %}
    </div>

    <h1>Log in</h1>
    <form method="post" action="{% url 'login' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
    {% csrf_token %}

    <p>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </p>
    <p>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </p>
    <p>
      <td>{{ form.remember_me.label_tag }}</td>
      <td>{{ form.remember_me }}</td>
    </p>
    <p>
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </p>
    <p><a href="{% url 'password_reset' %}">Lost password?</a> | <a href="{% url 'signup' %}">Sign up</a></p>
    </form>
</div>
{% endblock %}
