{% extends "generic.html" %}

{% block generic %}
     <div class="generated-form">
    {% if validlink %}
        <h1>Reinici de contrasenya</h1>
        <p>Escriu (i confirma) la teva nova contrasenya.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova contrasenya:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar contrasenya:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Canviar la contrasenya" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>El reinici de contrasenya ha fallat</h1>
        <p>L'enllaç per reiniciar la contrasenya era invàlid, possiblement perquè ja s'hagi fet servir.
            Si us plau sol·licita de nou el reinici de la contrasenya.</p>
    {% endif %}
     </div>
{% endblock %}