<header>
    <div>
        {% load staticfiles %}
        <a href="{% url 'home' %}" class="title-link">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" />
            <div class="title">
                <h1>Coòpolis</h1>
                <h2>Gestió d'inscripcions</h2>
            </div>
        </div>
        </a>
        <div class="secondary-menu">
            {% if not user.is_authenticated %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nom d'usuari">
                <input type="password" name="password" placeholder="Contrasenya">
                <input type='submit' value='Accedir'>
            </form>
            {% else %}
            <ul>
                <li>{{ user.username }} ─ <a href="{% url 'logout' %}">Sortir</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <ul>
        <li><a href="https://bcn.coop/">Web de Coòpolis</a></li>
    {% if user.is_anonymous %}
        <li><a href="{% url 'login' %}">Recuperar contrasenya</a></li>
        <li><a href="{% url 'signup' %}">Crear compte</a></li>
    {% else %}
        <li><a href="{% url 'my_courses' %}">Els meus cursos</a></li>
        {% for project in user.projects.all %}
        <li><a href="{% url 'project' pk=project.id %}">{{ project.name }}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
</header>