{% extends "generic.html" %}

{% block generic %}
<div class="generated-form">
    <div class="message-container">
    {% if form.errors %}
      <p class="error-message">Usuari i/o contrasenya incorrectes. Si us plau torna-ho a intentar.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p class="info-message">El teu compte no té accés a aquesta pàgina. Per continuar, acedeix amb el teu compte o
            crea un compte nou si encara no t'has registrat.</p>
      {% else %}
        <p class="info-message">Si us plau accedeix amb el teu compte per accedir a aquesta pàgina.</p>
      {% endif %}
    {% endif %}
    </div>

    <h1>Accés</h1>
    <form method="post" action="{% url 'loginsignup' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
    {% csrf_token %}

    <p>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </p>
    <p>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </p>
    <p>
      <td>{{ form.remember_me.label_tag }}</td>
      <td>{{ form.remember_me }}</td>
    </p>
    <p>
      <input type="submit" value="Accedir" />
      <input type="hidden" name="next" value="{{ next }}" />
    </p>
    <p><a href="{% url 'password_reset' %}">Has perdut la contrasenya?</a> | <a href="{% url 'signup' %}">Registrar-se</a></p>
    </form>
</div>
{% endblock %}
