{% extends "generic.html" %}

{% block generic %}

<div class="generated-form">
    {% if messages %}
    <ul class="message-container">
       {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</li>
       {% endfor %}
    </ul>
    {% endif %}
    <h1>Modificar la teva contrasenya</h1>
    <form method="post" action="{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
       {% csrf_token %}
       {{ form.as_p }}
    <button type="submit">Guardar els canvis</button>
    </form>
</div>
{% endblock %}