{% extends "generic.html" %}

{% block generic %}
<div class="generated-form">
  <h1>
    Reinicialitza la teva contrasenya
  </h1>
  <p>
    Facilita el teu correu electrònic i rebràs un e-mail amb un enllaç per reiniciar la teva contrasenya:
  </p>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reiniciar contrasenya">
  </form>
</div>
{% endblock %}