<!-- sales/templates/spandmin/sale_summary_change_list.html -->
{% extends "admin/base.html" %}

{% load i18n grp_tags admin_urls static admin_list humanize %}

{% block title %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block messages %}{% endblock %}

{% block content_title %}<h1>Documentació del back-office dels Ateneus Cooperatius</h1>{% endblock %}

{% block content %}

<style>
input[type="text"] {
  width: 100%;
}
</style>

<div class="grp-module">
  <div class="grp-row">
    <div class="l-2cr-fluid">
      <p>La documentació està publicada a una plataforma diferent del back-office (una <em>wiki</em>).</p>
      <p>Per prevenir-nos del risc que en alguna part de la documentació pugui aparèixer informació personal sensible s'ha pres la decisió de limitar l'accés a les persones autoritzades.</p>
    </div>
  </div>
  <div class="grp-row">
    <div class="l-2cr-fluid">
      <p>1r pas: accedeix a <a href="https://documentacio-backoffice.bcn.coop/" target="_blank">https://documentacio-backoffice.bcn.coop/</a></p>
      <p>Si no et demana contrasenya, fantàstic! Aquest ordinador té la sessió guardada i ja ets dins.</p>
    </div>
  </div>
  <div class="grp-row">
    <div class="l-2cr-fluid">
      <p>2n pas: Si et demana contrasenya, <strong>copia aquestes dades</strong> i introdueix-les:</p>
      <table style="width: 400px; border: 1px solid black;">
        <tr>
          <td>Email / Username</td>
          <td><input type="text" value="comunicacio+backoffice@bcn.coop" disabled="disabled" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="text" value="llegeixelmanual" disabled="disabled" /></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="grp-row">
    <div class="l-2cr-fluid">
      Un cop a dins llegeix les instruccions de la pàgina principal que trobaràs, que conté indicacions de com navegar per la documentació.
    </div>
  </div>
</div>
{% endblock %}
