@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #242424;
  font-size: 0.9rem;
}

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

a {
  color: #e94e1b;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  padding: 1em 0 1em 0;
}

h2 {
  padding: 1em 0 1em 0;
  font-size: 1.4rem;
}

h3 {
  padding: 1em 0 1em 0;
}

div {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
}

.page-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 50px 0;
}

.generic-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cookies-consent {
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  visibility: hidden;
}
.cookies-consent p {
  color: white;
}
.cookies-consent a {
  color: #4285F4;
}
.cookies-consent .button {
  margin-right: 100px;
  padding: 3px 20px;
  background-color: red;
  border-radius: 25px;
  color: white;
  text-decoration: none;
}

.breadcrumb {
  display: flex;
  justify-self: center;
  width: 70%;
}
.breadcrumb a {
  color: #242424;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-justiy-center {
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
}
header .content .top-wrapper {
  width: 70%;
  justify-content: space-between;
}
header .content .top-wrapper h1 {
  font-family: "Comfortaa", cursive, sans-serif;
  color: #e94e1b;
  font-size: 2rem;
}
header .content .top-wrapper h2 {
  font-family: "Comfortaa", cursive, sans-serif;
  color: #e94e1b;
  font-size: 1.5rem;
}
header .logo {
  align-items: center;
  padding: 15px 0 0 15px;
}
header .title-link {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
}
header .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
header .secondary-menu {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-end;
  margin-top: auto;
}
header .secondary-menu form {
  margin-bottom: 10px;
  margin-right: 10px;
}
header .secondary-menu form label {
  font-size: 0.8rem;
}
header .secondary-menu form input {
  margin: 3px;
}
header .secondary-menu form input[type=checkbox] {
  width: 0.9rem;
  height: 0.9rem;
}
header .secondary-menu form .div-column {
  display: flex;
  flex-direction: column;
}
header .secondary-menu form .div-row {
  display: flex;
  flex-direction: row;
}
header .secondary-menu form .div-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-end;
}
header .secondary-menu form input[type=submit] {
  padding: 0 10px;
}
header .secondary-menu ul {
  background-color: #F0F0F0;
  flex-direction: column;
}
header .menu {
  background-color: #e94e1b;
}
header .menu .menu-ul {
  font-weight: bolder;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0;
  justify-self: center;
  justify-content: space-between;
  width: 70%;
}
header .menu .menu-ul li {
  list-style: none;
  white-space: nowrap;
}
header .menu a {
  font-family: "Comfortaa", cursive, sans-serif;
  text-decoration: none;
  color: white;
}
header .menu a:hover {
  text-decoration: underline;
}
header .menu .dropdown {
  font-family: "Comfortaa", cursive, sans-serif;
  color: white;
}
header .menu .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #e94e1b;
  min-width: 160px;
}
header .menu .dropdown-content li {
  padding: 12px 16px;
}
header .menu .dropdown:hover .dropdown-content {
  display: flex;
}

.introduction {
  background-color: #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  flex-wrap: wrap;
}
.introduction p {
  color: #242424;
  width: 60%;
  text-align: center;
  display: inline-block;
}

.introduction * {
  font-size: initial;
}

.enroll-button {
  align-self: center;
}
.enroll-button div {
  background-color: #000;
  padding: 10px 80px;
  margin-top: 15px;
  display: inline-block;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
}
.enroll-button div:hover {
  background-color: #AF6468;
}

.subtitle {
  width: 100%;
  background-color: #e94e1b;
  padding: 5px;
  color: white;
  margin-top: 20px;
}

.courses-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.courses-container .course {
  display: block;
  width: 40%;
  border: 1px solid #e94e1b;
  margin-top: 20px;
  padding: 25px;
  min-width: 300px;
  height: 100%;
}
.courses-container .course .course-data .course-image {
  border: 0;
  width: 150px;
  height: 100%;
  margin-right: 20px;
}
.courses-container .course .course-data .course-description {
  display: block;
}
.courses-container .course .course-button {
  display: block;
  text-align: center;
}
.courses-container .course a {
  color: initial;
}

.course-data p:last-of-type {
  flex-grow: 1;
}

footer {
  display: flex;
  min-height: 100px;
  background-color: #c1c1c1;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}
footer a {
  color: #e94e1b;
}
footer p {
  display: initial;
  color: #242424;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
footer p span {
  margin-right: 50px;
}
footer .logos {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
footer .logos img {
  height: 40px;
}

.link-codi-cooperatiu {
  color: #242424;
  font-size: 0.8rem;
}

.modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  display: none;
  margin: auto;
  width: 600px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.modal-close {
  color: #aaa;
  float: right;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.modal-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 20px;
}

#modal-title-text {
  font-weight: bold;
}

.modal-content {
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.25rem;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*
*/
.generated-form .message-container .success-message, .generated-form .message-container .info-message, .generated-form .message-container .error-message, .generated-form form .errorlist li {
  width: 100%;
  margin-top: 5px;
  padding: 3px;
  align-content: center;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}

.generated-form {
  padding-top: 100px;
  align-self: center;
  height: 100%;
  min-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: relative;
}
.generated-form h1 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid gray;
}
.generated-form form {
  width: 95%;
  position: static;
  padding-left: 20px;
}
.generated-form form p {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.generated-form form ul {
  display: none;
}
.generated-form form span {
  display: none;
}
.generated-form form label {
  font-weight: bold;
}
.generated-form form input[type=text], .generated-form form input[type=password], .generated-form form input[type=email] {
  margin-top: 5px;
  display: block;
  width: 50%;
  min-width: 300px;
  padding: 3px;
}
.generated-form form input[type=submit], .generated-form form button {
  border: none;
  background-color: #7a9cd3;
  padding: 5px 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.generated-form form input[type=submit]:hover, .generated-form form button:hover {
  background-color: #9fc1f8;
}
.generated-form form label + input[type=checkbox] {
  display: inline-block;
  margin: auto;
  margin-left: 10px;
  width: 1rem;
  height: 1rem;
  line-height: 200px;
  vertical-align: middle;
}
.generated-form form .errorlist ~ p + ul {
  display: block;
  padding-bottom: 20px;
}
.generated-form form .errorlist ~ p + ul li {
  list-style: none;
  font-size: 0.8rem;
}
.generated-form form .errorlist {
  display: inline-block;
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;
}
.generated-form form .errorlist li {
  list-style: none;
  background-color: #F44259;
}
.generated-form .message-container {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;
}
.generated-form .message-container .error-message {
  background-color: #F44259;
}
.generated-form .message-container .info-message {
  background-color: #4285F4;
}

.generated-form {
  align-self: flex-start;
  justify-content: initial;
  padding-top: 30px;
  width: 100%;
}
.generated-form form .errorlist {
  position: inherit;
}
.generated-form form .helptext {
  display: block;
  font-style: italic;
}
.generated-form form p {
  margin-bottom: 10px;
}
.generated-form form textarea {
  display: block;
  width: 100%;
}
.generated-form .message-container {
  position: inherit;
  list-style-type: none;
}
.generated-form .message-container .success-message {
  background-color: #5EC76A;
}
.generated-form .message-container .error-message {
  width: 90%;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.1rem;
}

.content {
  min-height: initial;
}

.page-content {
  min-height: initial;
}
.page-content img {
  width: fit-content;
  align-self: center;
}

.generic-content {
  min-height: initial;
}

.flex-h {
  display: flex;
  justify-content: space-around;
}

.margin-block {
  margin-top: 20px;
}

input:required, textarea:required {
  border-color: #F0F0F0 !important;
}

label.required {
  font-size: 1.1em;
}
label.required:after {
  content: "*";
}

.block-width {
  min-width: 700px;
}

.top-wrapper {
  width: 100%;
  background-color: #F0F0F0;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  header .menu .menu-ul {
    flex-direction: column;
  }
  header .menu .menu-ul li + li {
    padding-top: 5px;
  }
  header .menu .dropdown-content {
    display: flex;
    position: relative;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  header .menu .dropdown-content li {
    padding: 5px 10px;
  }
  header .content .top-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .page-content {
    width: 95%;
  }

  .flex-h {
    flex-direction: column;
  }

  .introduction p {
    width: 90%;
  }

  .modal {
    width: 80%;
  }

  .enroll-button div {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 790px) {
  header .menu ul {
    width: 90%;
  }
}
.poll {
  display: block;
  columns: 500px;
  width: 100%;
}
.poll .poll__send {
  max-width: 500px;
  justify-content: center;
}
.poll .poll__send input {
  width: 200px;
  margin-top: 20px;
}
.poll .poll__fieldset {
  display: block;
  width: 100%;
  max-width: 500px;
  break-inside: avoid;
}
.poll .poll__fieldset .poll__item {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.poll .poll__fieldset .poll__item:hover {
  background-color: #fdfdfd;
}
.poll .poll__fieldset .poll__item div {
  width: calc(100% - 120px);
}
.poll .poll__fieldset .poll__item--text {
  flex-wrap: wrap;
}
.poll .poll__fieldset .poll__item--text input {
  width: 100%;
}

/*# sourceMappingURL=stylesheet.css.map */
