{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css">
<link rel="stylesheet" href="{% static 'styles/stars-rating.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="breadcrumb">
  <span><a href="{% url 'home' %}">Inici</a> > <a href="{% url 'my_activities' %}">Els meus cursos</a> > {{ activity.name }}</span>
</div>
<div class="page-content">

  <h1>{{ activity }}</h1>

  <h2>Enquesta anònima de valoració</h2>

  {% if already_answered %}
  <em>Ja has omplert l'enquesta de valoració per aquesta activitat.</em>
  {% else %}
  <form method="post">{% csrf_token %}
    <div class="poll">

      {% for fieldset in fieldsets %}
      <div class="poll__fieldset">
        <h3>{{ fieldset.0 }}</h3>
        {% for field in fieldset.1.fields %}
        <div class="poll__item">
          {% if field.type == 'stars' %}
          <div>{{ field.obj.label }}</div>
          <fieldset class="rating">
            <input type="radio" id="id_{{ field.name }}_3" name="{{ field.name }}" value="4"/>
            <label class="full" for="id_{{ field.name }}_3" title="(4) Molt bé"></label>
            <input type="radio" id="id_{{ field.name }}_2" name="{{ field.name }}" value="3"/>
            <label class="full" for="id_{{ field.name }}_2" title="(3) Bé"></label>
            <input type="radio" id="id_{{ field.name }}_1" name="{{ field.name }}" value="2"/>
            <label class="full" for="id_{{ field.name }}_1" title="(2) Malament"></label>
            <input type="radio" id="id_{{ field.name }}_0" name="{{ field.name }}" value="1"/>
            <label class="full" for="id_{{ field.name }}_0" title="(1) Molt malament"></label>
          </fieldset>
          {% elif field.type == 'yesno' %}
          <em>YES NO FIELD</em>
          {% elif field.type == 'text' %}
          <em>TEXT FIELD</em>
          {% endif %}

        </div>
        {% endfor %}
      </div>
      {% endfor %}

    </div>

    <div class="poll__item">
      <input type="submit" value="Save">
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}