<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Coòpolis ─ Gestió d'inscripcions</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}" type="text/css">
    <link rel="icon" href="{% static 'images/logo.png' %}">
  </head>
  <body>

    <header>
        <div>
            {% load staticfiles %}
            <a href="{% url 'home' %}" class="title-link">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" />
                <div class="title">
                    <h1>Coòpolis</h1>
                    <h2>Gestió d'inscripcions</h2>
                </div>
            </div>
            </a>
            <div class="secondary-menu">
                {% if not user.is_authenticated %}
                {% block loginbox %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Nom d'usuari">
                    <input type="password" name="password" placeholder="Contrasenya">
                    <input type='submit' value='Accedir'>
                </form>
                {% endblock %}
                {% else %}
                <ul>
                    <li>{{ user.username }} ─ <a href="{% url 'logout' %}">Sortir</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
        <ul>
            <li><a href="https://bcn.coop/">Web de Coòpolis</a></li>
        {% if user.is_anonymous %}
            <li><a href="{% url 'password_reset' %}">Recuperar contrasenya</a></li>
            <li><a href="{% url 'signup' %}">Crear compte</a></li>
        {% else %}
            <li><a href="{% url 'my_courses' %}">Els meus cursos</a></li>
            {% for project in user.projects.all %}
            <li><a href="{% url 'project' pk=project.id %}">{{ project.name }}</a></li>
            {% endfor %}
            {% if user.is_superuser %}
            <li><a href="{% url 'admin:index'%}">Backoffice</a></li>
            {% endif %}
        {% endif %}
        </ul>
    </header>

    <div class="content">
    {% block content %}
    NO OVERRIDE
    {% endblock %}
    </div>

    {% include 'reusable/footer.html' %}

  </body>
</html>