{% extends "base.html" %}

{% block content %}
<div class="introduction">
    {{ config.CONTENT_HOME_INTRODUCTION|safe }}
</div>
<div class="page-content">
    <div class="generic-content">
        <div class="flex-h margin-block">
            <span><h2>{{ config.CONTENT_HOME_COURSES_TITLE }}</h2><p>{{ config.CONTENT_HOME_COURSES_TEXT }}</p>
                <a href="{% url 'courses' %}" class="enroll-button">
                    <div>Veure oferta formativa</div>
                </a>
            </span>
            <span><h2>{{ config.CONTENT_HOME_PROJECTS_TITLE }}</h2><p>{{ config.CONTENT_HOME_PROJECTS_TEXT }}</p>
                <a href="{% url 'project_info' %}" class="enroll-button">
                    <div>Sol·licitar acompanyament</div>
                </a>
            </span>
        </div>
    </div>
    {% if not user.is_authenticated %}
        {% include 'registration/login_signup_form.html' %}
    {% endif %}
</div>
{% endblock %}
