{% extends "base.html" %}

{% block content %}

<div class="page-content">
    <div class="generic-content">
        <p>{{ description }}</p>
        <span><a href="https://bcn.coop/suport/">[botó]Més informació a la web de Coòpolis</a></span>
    </div>
    <div class="generated-form">
        {% if messages %}
        <ul class="message-container">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Dades del vostre projecte</h1>
        <form method="post" action="{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Guardar els canvis</button>
        </form>
    </div>
</div>
{% endblock %}