{% extends "base.html" %}

{% block content %}

<div class="page-content">
    <div class="generic-content">
        <h1>{{ config.CONTENT_PROJECT_TITLE }}</h1>
        {% if show_new_project_info %}
            {{ config.CONTENT_PROJECT_NEW|safe }}
        {% endif %}
    </div>
    <div class="generated-form">
        {% if messages %}
        <ul class="message-container">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Dades del vostre projecte</h1>
        <form method="post" action="{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Guardar els canvis</button>
        </form>
    </div>
</div>
{% endblock %}