    <div class="flex-h">
        <div class="generated-form">
            <h1>Accedir</h1>
            {% if login_form.errors %}
            <div class="message-container">
                <p class="error-message">Usuari i/o contrasenya incorrectes. Si us plau torna-ho a intentar.</p>
            </div>
            {% endif %}
            <form method="post" action="{% url 'login_post' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
                <p>Si ja en formeu part, entreu al vostre perfil per a poder gestionar inscripcions i projectes.</p>
            {% csrf_token %}
                <p>
                  {{ login_form.username.label_tag }}
                  {{ login_form.username }}
                </p>
                <p>
                  {{ login_form.password.label_tag }}
                  {{ login_form.password }}
                </p>
                <p>
                  {{ login_form.remember_me.label_tag }}
                  {{ login_form.remember_me }}
                </p>
                <p>
                  <input type="submit" value="Accedir" />
                  <input type="hidden" name="next" value="{{ next }}" />
                </p>
                <p><a href="{% url 'password_reset' %}">Has perdut la contrasenya?</a></p>
            </form>
        </div>

        <div class="generated-form">
            <h1>Registrar-se</h1>
            {% if signup_form.errors %}
            <div class="message-container">
                <p class="error-message">No s'ha pogut completar el registre, si us plau, revisa els errors del
                    formulari.</p>
            </div>
            {% endif %}
            <form method="post"
                  action="{% url 'signup_post' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
                <p>Si encara no en formeu part, registreu-vos!</p>
                {% csrf_token %}
                {{ signup_form.as_p }}
                <p>Consulta el <a href="{{ config.PROJECT_LEGAL_URL }}" target="_blank">text
                    complet</a> de l'avís legal i de protecció de dades.</p>
                <button type="submit">Crear compte</button>
            </form>
        </div>
    </div>

    {% include 'reusable/town_district_validation_js.html' %}
