
        <div class="course">
            <div class="course-data">
                <div class="course-description">
                    <h2>Programa / curs: "{{ enrollment.activity.course }}"</h2>
                    <h3>Activitat: {{ enrollment.activity.name }}</h3>
                    <p><strong>Data:</strong> {{ enrollment.activity.date_start }}</p>
                    <p><strong>Horari:</strong> de {{ enrollment.activity.starting_time }} a {{ enrollment.activity.ending_time }}</p>
                    <p><strong>Lloc:</strong> {{ enrollment.activity.place }}</p>
                    <p><strong>Descripció:</strong> {{ enrollment.activity.objectives|safe }}</p>
                </div>
            </div>
            <div class="course-button">
                {% if enrollment.can_access_details %}
                <a href="{% url 'activity' pk=enrollment.activity.id %}" class="enroll-button">
                    <div style="background-color: #e94e1b;">Instruccions i material</div>
                </a>
                {% endif %}
                {% if enrollment.can_access_poll %}
                <a href="{% url 'activity_poll' uuid=enrollment.activity.uuid %}" class="enroll-button">
                    <div style="background-color: #e94e1b;">Enquesta de valoració</div>
                </a>
                {% endif %}
                {% if optout_button %}
                <a
                    id="actButton{{enrollment.activity.id}}"
                    href="#"
                    onclick="javascript:onOptoutButtonClick('{{ enrollment.activity.name|escapejs }}', '{% url 'activity_optout' id=enrollment.activity.id %}');"
                    class="enroll-button"
                >
                    <div>
                        {% if button_text_waiting_list %}
                        Sortir de la llista d'espera
                        {% else %}
                        Eliminar inscripció
                        {% endif %}
                    </div>
                </a>
                {% endif %}
                {% if enrollment.user_comments %}
                <p>&nbsp;</p>
                <p>A l'inscriure't, vas deixar el següent comentari:</p>
                <p><em>{{ enrollment.user_comments }}</em></p>
                {% endif %}
            </div>
        </div>
