
        <div class="course">
            <div class="course-data">
                <h2>Programa / curs: "{{ activity.course }}"</h2>
                <h3>Activitat: {{ activity.name }}</h3>
                <p><strong>Data:</strong> {{ activity.date_start }}</p>
                <p><strong>Horari:</strong> de {{ activity.starting_time }} a {{ activity.ending_time }}</p>
                <p><strong>Lloc:</strong> {{ activity.place }}</p>
                <p><strong>Descripció:</strong> {{ activity.objectives|safe }}</p>
                {% if optout_button %}
                <a
                    id="actButton{{activity.id}}"
                    href="#"
                    onclick="javascript:onOptoutButtonClick('{{ activity.name|escapejs }}', '{% url 'activity_optout' id=activity.id %}');"
                    class="enroll-button"
                >
                    <div>
                        Eliminar inscripció
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
